@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700;900&display=swap');

body {
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
    text-align: right;
    overflow-x: hidden;
}

.section {
    margin: 30px 0;
    overflow: auto;
}

.section-title::after {
    display: block;
    margin-top: 5px;
    content: "";
    height: 3px;
    width: 100%;
    background-color: #ffc107;
}

.subInput{
    border-radius: 0;
    background-clip: unset;
}

.subBtn{
    border-radius: 0;
}

.btn-warning{
    color: #fff;
}


/************  Home Section *************/
.section.home{
    position: relative;
    margin-top: 0;
}


.home-img img {
    max-width: 100%;
}

.section .home-item {
    position: absolute;
    width: 50%;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.section.home p{
    width: 65%;
}

.section.home h1,
.section.home p {
    color: #fff;
}

@media(max-width: 576px){
    .section .home-item{
        width: 100%;
        padding-right: 20px;
    }

    .section.home h1{
        font-size: 1.5rem;
        margin: 10px 0!important;
    }

    .section.home p{
        margin: 10px 0!important;
    }

    .section.home .btn{
        margin: 0 !important;
    }
}

@media (max-width: 210px){
    .section .home-item{
        padding-top: 35px;
    }
    .section.home h1{
        margin: 10px 0!important;
    }

    .section.home p{
        margin: 10px 0!important;
    }
}

/******************** About Section ********************/
.section.about{
    padding: 30px;
}

/******************* Expert Section *******************/
section.expert span {
    height: 100px;
    min-width: 100px;
}

section.expert span i {
    font-size: 50px;
}

/********************* Subscribtion ***********************/
.section.subscribtion{
    background-image: url("../images/subscribe-our-newsletter-bg.jpg");
    background-position: center;
    background-size: cover;
    height: 400px;
}

/********************** Footer ***************************/
.footer {
    margin-bottom: 0;
}

.footer-copyRight  div{
    padding: 10px;
}

.footer-copyRight p {
    margin: 0;
}

@media(max-width: 576px){
    .footer-copyRight  div {
        flex-direction: column;
    }
    .footer-copyRight  div p:first-child{
        margin-bottom: 5px;
    }
}